<div class="container">
  <img src="../../../assets/img/png/front-test-logo.png" class="logo" width="64" height="64" alt="logo">
  <form [formGroup]="recoverForm" class="form-container">
    <h1>Recuperar senha</h1>
    <div class="form-group">
      <input placeholder="E-mail" formControlName="email" id="email" type="text">
    </div>
    <a routerLink="/login" class="recover">FAÇA SEU LOGIN!</a>
    <button (click)="onSendClick()" [disabled]="recoverForm.invalid" class="auth-button btn-ripple">Enviar</button>
    <a routerLink="/cadastro" class="register">Não tem uma conta? Cadastre-se</a>
  </form>
</div>
