<div class="home">
  <nav class="nav-header">
    <img src="../../../assets/img/png/front-test-logo.png" alt="">
    <button (click)="onLogOut()" class="outlined-button black btn-ripple">Logout</button>
  </nav>
  <section class="big-img-container">
    <div class="front-card">
      <img class="big-img" src="../../../assets/img/png/bg-front.png" alt="">
      <img class="front-img" src="../../../assets/img/png/front-test.png" alt="">
      <p class="big-text">
        Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.
      </p>
      <button style="width: 210px" class="outlined-button white btn-ripple">Saiba mais</button>
    </div>
  </section>
  <section class="cards">
    <div style="border-bottom-right-radius: 0; border-top-right-radius: 0" class="wide-card card card-one">
      <p class="card-header">Mussun Ipson cacilds</p>
      <div class="card-img-small">
        <img src="../../../assets/img/png/fingerprint.png" alt="">
      </div>
      <p class="card-text">Delegadis gente finis, bibendum egestas augue arcu ut est interessantiss quisso pudia.</p>
      <button style="width: 100%" class="outlined-button black">Saiba mais</button>
    </div>
    <div class="long-card card">
      <p class="card-header">Mussun Ipson cacilds</p>
      <div class="card-img-big">
        <img src="../../../assets/img/png/fingerprint.png" alt="">
      </div>
      <p class="card-text">Delegadis gente finis, bibendum egestas augue arcu ut est interessantiss quisso pudia.</p>
      <button class="auth-button btn-ripple">Saiba mais</button>
    </div>
    <div  style="border-bottom-left-radius: 0; border-top-left-radius: 0"  class="wide-card card card-three">
      <p class="card-header">Mussun Ipson cacilds</p>
      <div class="card-img-small">
        <img src="../../../assets/img/png/fingerprint.png" alt="">
      </div>
      <p class="card-text">Delegadis gente finis, bibendum egestas augue arcu ut est interessantiss quisso pudia.</p>
      <button style="width: 100%" class="outlined-button black">Saiba mais</button>
    </div>
  </section>
  <section>
    <hr>
  </section>
  <footer>
    <div class="links">
      <a>Quem Somos</a>
      <a>Login</a>
      <a>Como Funciona</a>
      <a>Cadastro</a>
      <a>FAQ's</a>
      <a>Termos de Uso</a>
      <a>Contato</a>
      <a>Privacidade</a>
    </div>
  </footer>
</div>
